body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  user-select:none;
  transition: all 0.3s ease;
  --black-text-color: #000000;
  --background: rgb(255, 255, 255);
  --button-enabled: ;
  --button-disabled: #A5A1A1;
  --text-heading: #477448;
  --text-normal: rgb(68, 114, 69);
  --text-disabled: rgb(159, 163, 160, 0.5);
  --box-shadow: rgba(148, 0, 202, 0.3);
  --text-shadow: rgba(71, 116, 72, 0.2);
  --green: rgb(67, 196, 114);
  --border-green: #79a37cff;
  --button-border-green: #528254;
  --green-background: rgba(30, 187, 88, 0.2);
  --red: rgb(248, 113, 113);
  --red-background: rgb(248, 113, 113, 0.2);
}

p {
  font-family: 'Inter', sans-serif;
  user-select: text;
}