body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  user-select:none;
  transition: all 0.3s ease;
  --black-text-color: #000000;
  --background: rgb(9, 13, 13);
  --button-enabled: #838383;
  --button-disabled: #A5A1A1;
  --text-heading: #dedede;
  --text-normal: rgb(159, 163, 160);
  --text-disabled: rgb(159, 163, 160, 0.5);
  --box-shadow: rgba(148, 0, 202, 0.3);
  --text-shadow: rgba(107, 107, 107, 0.3);
  --green: rgb(74, 222, 128);
  --green-background: rgba(74, 222, 128, 0.2);
  --red: rgb(248, 113, 113);
  --red-background: rgb(248, 113, 113, 0.2);
}

p {
  font-family: 'Inter', sans-serif;
  user-select: text;
}