body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  user-select:none;
  --black-text-color: #000000;
  --background: #ffffff;
  --button-enabled: #71009A;
  --button-disabled: #A5A1A1;
}

p {
  font-family: 'Roboto', sans-serif;
  user-select: text;
}