body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  user-select:none;
  --black-text-color: #000000;
  --background: #ffffff;
}

p {
  font-family: 'Roboto', sans-serif;
  user-select: text;
}